In [1]:
import pandas as pd
import happybase

In [2]:

df = pd.read_csv('../listings_Paris.csv')
print(df.head())

      id                         listing_url       scrape_id last_scraped  \
0  80260  https://www.airbnb.com/rooms/80260  20240610195007   2024-06-13
1   3109   https://www.airbnb.com/rooms/3109  20240610195007   2024-06-12
2  80301  https://www.airbnb.com/rooms/80301  20240610195007   2024-06-13
3   5396   https://www.airbnb.com/rooms/5396  20240610195007   2024-06-13
4   7397   https://www.airbnb.com/rooms/7397  20240610195007   2024-06-13

            source                                          name  \
0  previous scrape             Nice studio in Jourdain's village
1      city scrape                                  zen and calm
2      city scrape                                toits de Paris
3      city scrape  Your perfect Paris studio on ÃŽle Saint-Louis
4      city scrape              MARAIS - 2ROOMS APT - 2/4 PEOPLE

                                         description  \
0                                                NaN
1  Lovely Appartment with one bedroom with a Quee...
2  On the top,sharing my space,you have your bedr...
3  NEW SOFA-BED SINCE JUNE 2023, Please disregard...
4          VERY CONVENIENT, WITH THE BEST LOCATION !

                               neighborhood_overview  \
0                                                NaN
1  Good restaurants<br />very close the Montparna...
2  SAFE neighborhood,late bus and subway,velibe(b...
3  You are within walking distance to the Louvre,...
4                                                NaN

                                         picture_url  host_id  ...  \
0  https://a0.muscache.com/pictures/716553/6c14f2...   333548  ...
1  https://a0.muscache.com/pictures/miso/Hosting-...     3631  ...
2  https://a0.muscache.com/pictures/742354/2e66b9...   433758  ...
3  https://a0.muscache.com/pictures/52413/f9bf76f...     7903  ...
4  https://a0.muscache.com/pictures/67928287/330b...     2626  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        4.78                   4.61                4.64
1                        5.00                   5.00                5.00
2                        5.00                   4.95                4.74
3                        4.84                   4.96                4.59
4                        4.89                   4.93                4.73

         license instant_bookable calculated_host_listings_count  \
0  7512005340473                f                              1
1  7511409139079                t                              1
2  7510500029543                f                              2
3  7510402838018                f                              1
4  7510400829623                f                              3

  calculated_host_listings_count_entire_homes  \
0                                           1
1                                           1
2                                           1
3                                           1
4                                           3

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            1
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              1.29
1                                           0              0.05
2                                           0              0.27
3                                           0              2.21
4                                           0              2.21

[5 rows x 75 columns]

In [3]:
df = df[['host_id','host_name','last_scraped','number_of_reviews', 'host_url','host_picture_url', 'host_since','host_about', 'host_listings_count','host_total_listings_count', 'bathrooms',
         'bedrooms', 'room_type','latitude', 'longitude','price', 'minimum_nights','maximum_nights', 'minimum_minimum_nights','maximum_minimum_nights', 
         'minimum_maximum_nights','maximum_maximum_nights', 'minimum_nights_avg_ntm','maximum_nights_avg_ntm']]

df= df.fillna(0.0)
print(df.head())

   host_id  host_name last_scraped  number_of_reviews  \
0   333548  Charlotte   2024-06-13                206
1     3631       Anne   2024-06-12                  4
2   433758  Genevieve   2024-06-13                 42
3     7903     Borzou   2024-06-13                403
4     2626     Franck   2024-06-13                354

                                   host_url  \
0  https://www.airbnb.com/users/show/333548
1    https://www.airbnb.com/users/show/3631
2  https://www.airbnb.com/users/show/433758
3    https://www.airbnb.com/users/show/7903
4    https://www.airbnb.com/users/show/2626

                                    host_picture_url  host_since  \
0  https://a0.muscache.com/im/users/333548/profil...  2011-01-03
1  https://a0.muscache.com/im/users/3631/profile_...  2008-10-14
2  https://a0.muscache.com/im/users/433758/profil...  2011-03-10
3  https://a0.muscache.com/im/users/7903/profile_...  2009-02-14
4  https://a0.muscache.com/im/pictures/user/ad6a9...  2008-08-30

                                          host_about  host_listings_count  \
0  My name is Charlotte, I'm 26 and I study cinem...                  1.0
1                                                0.0                  1.0
2   Doctorat Sorbonne 1,Litterature sciences huma...                  2.0
3  We have spent a lot of time traveling for work...                  2.0
4  I am a writer,54, author of novels, books of l...                  3.0

   host_total_listings_count  ...  longitude    price minimum_nights  \
0                        1.0  ...    2.38848      0.0              2
1                        2.0  ...    2.31870  $250.00              2
2                        2.0  ...    2.34699   $60.00             30
3                        4.0  ...    2.35835   $96.00              2
4                        9.0  ...    2.35315  $160.00             10

   maximum_nights  minimum_minimum_nights maximum_minimum_nights  \
0             730                       2                      2
1              30                       2                      2
2             190                      30                     30
3            1125                       1                      2
4             130                       7                     12

   minimum_maximum_nights  maximum_maximum_nights  minimum_nights_avg_ntm  \
0                     730                     730                     2.0
1                      30                      30                     2.0
2                     190                     190                    30.0
3                    1125                    1125                     1.0
4                     130                     130                    10.0

   maximum_nights_avg_ntm
0                   730.0
1                    30.0
2                   190.0
3                  1125.0
4                   130.0

[5 rows x 24 columns]

## ðŸ§  Part : Connect to HBASE

In [4]:
HBASE_HOST = 'localhost' 
TABLE_NAME = 'listing_rental'
HBASE_PORT = 9090
BATCH_SIZE = 1000

connection = happybase.Connection(
            host=HBASE_HOST,
            port=HBASE_PORT,
            timeout=30000,  # 10 seconds timeout
            autoconnect=True,
            transport='buffered'
            )
connection.open()

try:
    connection.create_table(
        TABLE_NAME,
        {
            'host_info': dict(),
            'home_rental_listing_info': dict()
        },
        # Pre-split by area codes (1-20)
    )
    print(f"Created table {TABLE_NAME}")
except :
    print(f"Table {TABLE_NAME} already exists or error occurred")

table = connection.table(TABLE_NAME)

Table listing_rental already exists or error occurred

In [5]:
# Function to generate row key (host_id is assumed unique)
def make_row_key(row):
    return f"{row['host_id']}_{row.name}".encode()  # name ensures uniqueness

# Insert data in batches
batch = table.batch(batch_size=BATCH_SIZE)
for idx, row in df.iterrows():
    row_key = make_row_key(row)
    
    data = {
        # Host Info
        b'host_info:host_id': str(row['host_id']).encode('utf-8'),
        b'host_info:host_name': str(row['host_name']).encode('utf-8'),
        b'host_info:host_url': str(row['host_url']).encode('utf-8'),
        b'host_info:host_picture_url': str(row['host_picture_url']).encode('utf-8'),
        b'host_info:host_since': str(row['host_since']).encode('utf-8'),
        b'host_info:host_about': str(row['host_about']).encode('utf-8'),
        b'host_info:host_listings_count': str(row['host_listings_count']).encode('utf-8'),
        b'host_info:host_total_listings_count': str(row['host_total_listings_count']).encode('utf-8'),

        # Rental Info
        b'home_rental_listing_info:bathrooms': str(row['bathrooms']).encode('utf-8'),
        b'home_rental_listing_info:last_scraped': str(row['last_scraped']).encode('utf-8'),
        b'home_rental_listing_info:number_of_reviews': str(row['number_of_reviews']).encode('utf-8'),
        b'home_rental_listing_info:bedrooms': str(row['bedrooms']).encode('utf-8'),
        b'home_rental_listing_info:room_type': str(row['room_type']).encode('utf-8'),
        b'home_rental_listing_info:latitude': str(row['latitude']).encode('utf-8'),
        b'home_rental_listing_info:longitude': str(row['longitude']).encode('utf-8'),
        b'home_rental_listing_info:price': str(row['price']).encode('utf-8'),
        b'home_rental_listing_info:minimum_nights': str(row['minimum_nights']).encode('utf-8'),
        b'home_rental_listing_info:maximum_nights': str(row['maximum_nights']).encode('utf-8'),
        b'home_rental_listing_info:minimum_minimum_nights': str(row['minimum_minimum_nights']).encode('utf-8'),
        b'home_rental_listing_info:maximum_minimum_nights': str(row['maximum_minimum_nights']).encode('utf-8'),
        b'home_rental_listing_info:minimum_maximum_nights': str(row['minimum_maximum_nights']).encode('utf-8'),
        b'home_rental_listing_info:maximum_maximum_nights': str(row['maximum_maximum_nights']).encode('utf-8'),
        b'home_rental_listing_info:minimum_nights_avg_ntm': str(row['minimum_nights_avg_ntm']).encode('utf-8'),
        b'home_rental_listing_info:maximum_nights_avg_ntm': str(row['maximum_nights_avg_ntm']).encode('utf-8'),
    }

    batch.put(row_key, data)

# Send final batch
batch.send()
print("Data inserted successfully.")

Data inserted successfully.

## LOAD HBASE DATABASE IN DATAFRAME

In [6]:
# Load all rows from HBase
table = connection.table(TABLE_NAME)
rows = table.scan()
records = []
for key, data in rows:
    row = {k.decode(): v.decode(errors='ignore') for k, v in data.items()}
    row['row_key'] = key.decode()
    records.append(row)

df = pd.DataFrame(records)

#  QUERY FOR QUESTIONS

In [10]:
q1 = df['home_rental_listing_info:room_type'].value_counts()
print("-------------------Listings per property type:-------------------")
print(q1)



df['listing_date'] = pd.to_datetime(df['home_rental_listing_info:last_scraped'], errors='coerce')
q2 = df[(df['listing_date'] == '2024-06-12')]
print(f"-------------------Listings made in Paris on June 12, 2024: {len(q2)} -------------------")


df['reviews'] = pd.to_numeric(df['home_rental_listing_info:number_of_reviews'], errors='coerce')
q3 = df[['row_key', 'reviews']].sort_values(by='reviews', ascending=False).head(5)
print("-------------------Top 5 listings by number of reviews: -------------------")
print(q3)

q4 = df['host_info:host_id'].nunique()
print(f"-------------------Total number of unique hosts: {q4}-------------------")

-------------------Listings per property type:-------------------
home_rental_listing_info:room_type
Entire home/apt    85733
Private room        8975
Hotel room           776
Shared room          401
Name: count, dtype: int64
-------------------Listings made in Paris on June 12, 2024: 41323 -------------------
-------------------Top 5 listings by number of reviews: -------------------
               row_key  reviews
91521   84901734_14235     3067
95178   98020850_20597     2620
39746  315206797_29973     2294
38335  309707704_29437     2105
31680  264483496_25716     2048
-------------------Total number of unique hosts: 71979-------------------